.main-container {
    padding-left: 15px;
    padding-right: 15px;
}

.my-page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

h4 {
    /*margin-top: 25px;*/
}
/*.row {*/
    /*margin-bottom: 20px;*/
/*}*/
/*.row .row {*/
    /*margin-top: 10px;*/
    /*margin-bottom: 0;*/
/*}*/
[class*="col-"] {
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bin-url-info {
    margin-top: 30px;
    margin-bottom: 10px;
}

.header-pair>li{
    word-wrap: break-word;
    white-space: normal;
}

.raw-body>pre{
    word-wrap: break-word;
    white-space: pre;
    max-height: 600px;
    overflow: auto;
}

.request-head{
    background-color: #eeeeee;
    padding: 5px 0;
}

.request-head .method {
    font-weight: bold;
}

.request {
    /*border: 1px solid #eeeeee;*/
    /*border-radius: 2px;*/
}

.topic {
    text-transform: uppercase;
    color: #999999;
    padding: 6px 0;
}